/* VARIÁVEIS DE COR */

:root {
  --bg-dark: #0b061f;
  --bg-card: #141033;

  --roxo: #7c3aed;
  --azul: #3b82f6;

  --texto: #e5e7eb;
  --texto-fraco: #9ca3af;

  --radius: 16px;
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    Segoe UI,
    sans-serif;
}

body {
  background: linear-gradient(180deg, #09051a, #0b061f);

  color: var(--texto);

  padding: 0 8%;
}

/* NAVBAR */

header {
  margin-top: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(255, 255, 255, 0.03);

  padding: 18px 28px;

  border-radius: var(--radius);

  backdrop-filter: blur(10px);
}

nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

nav a {
  color: var(--texto);
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: var(--azul);
}

.logo span {
  color: var(--roxo);
}

/* HERO */

.hero {
  height: 70vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero h3 {
  color: var(--azul);
  margin-bottom: 15px;
}

.hero p {
  color: var(--texto-fraco);
  margin-bottom: 30px;

  max-width: 400px;
}

/* BOTÃO */

.btn {
  background: linear-gradient(45deg, var(--roxo), var(--azul));

  padding: 12px 26px;

  border-radius: var(--radius);

  text-decoration: none;

  color: white;

  font-weight: 600;

  transition: 0.3s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 20px var(--azul);
}

/* SECTIONS */

section {
  margin: 100px 0;
  text-align: center;
}

h2 {
  margin-bottom: 40px;
  font-size: 32px;
}

/* GRID */

.grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

  gap: 25px;
}

/* CARDS */

.card {
  background: var(--bg-card);

  padding: 25px;

  border-radius: var(--radius);

  transition: 0.3s;

  border: 1px solid rgba(255, 255, 255, 0.05);
}

.card:hover {
  transform: translateY(-6px);

  border: 1px solid var(--roxo);

  box-shadow: 0 0 15px rgba(124, 58, 237, 0.4);
}

/* PROJETOS */

.project {
  display: block;
  padding: 25px;
  background: var(--bg-card);
  border-radius: 10px;
  margin: 15px 0;
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

.project:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

#ee {
  color: white;
  border: 1px, var(--bg-dark);
}

/* FOOTER */

footer {
  margin-top: 100px;

  padding: 30px;

  text-align: center;

  color: var(--texto-fraco);
}

/* RESPONSIVO */

@media (max-width: 768px) {
  body {
    padding: 0 5%;
  }

  /* NAVBAR */

  nav {
    flex-direction: column;
    gap: 15px;
    padding: 16px;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  /* HERO */

  .hero {
    height: auto;
    padding: 80px 0;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero h3 {
    font-size: 18px;
  }

  .hero p {
    font-size: 14px;
  }

  /* SECTIONS */

  section {
    margin: 70px 0;
  }

  /* TITULOS */

  h2 {
    font-size: 26px;
  }

  /* BOTÃO */

  .btn {
    padding: 10px 20px;
    font-size: 14px;
  }

  /* CARDS */

  .card,
  .project {
    padding: 20px;
  }
}
